@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Oswald";
  min-height: 100vh;
  color: whitesmoke;
  background-color: black;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
